<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- STYLES -->
    <link rel="stylesheet" href="/static/css/base.css">

    <title></title>
</head>

<body>

<header>Geo-Geschenk-Client :)</header>

    <main ng-app="geoGeschenk">
        <section ng-controller="gesController">

        </section>

    </main>

</body>

    <!-- SCRIPTS -->
    <script src="static/libs/angular/angular.js"></script>
    <script src="static/libs/ng-file-upload/ng-file-upload.js"></script>
    <script src="static/libs/socket.io-client/socket.io.js"></script>

    <script src="static/js/main.js"></script>
</html>